.container{
    background-color: lightgray;
}


#date{
    background-color: black;
    color: white;
    padding: 50px;
    margin: 10px, 10px;
    text-align: center;
}

#display{
    background-color: cadetblue;
}

.city{
text-align: center;  
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
font-weight: bolder;
font-style: italic;
color: black;
font-size: x-large;

}

.temp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: black;
}

.humid{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: black;
}

.winds{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: black;
}

.uv{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: black;
}

.icon{
 background-color: blue;
}